*   main {
      max-width: 1000px;
      margin: 2rem auto;
      padding: 0 1rem;
    }
    body {
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      background-image: url("rm222ba05.jpg");
      background-size: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: scroll;
      margin: 0;
      padding: 0;
      height: 100vh; /* Ensure the body takes full viewport height */
      width: 100vw; /* Ensure the body takes full viewport width */
    }
    header {
      width: auto;
      background-color: rgb(0, 60, 149);
      color: white;
      text-align: center;
      padding: 2rem 1rem;
      position: relative;
    }
    .logo-container {
      max-width: auto;
      margin: 0 auto;
    }
    img {
      max-width: 60%;
    }
    .subtitle {
      font-size: 1rem;
      text-align: center;
      padding-bottom: 2rem;
    }
    .notice {
      width: auto;
      background: black;
      color: white;
      text-align: center;
      font-size: 1rem;
      padding: 1rem;
    }
    p {
      font-weight: bold;
      text-align: justify;
    }
    section {
	    padding-top: 1rem;
      margin-bottom: 5rem;
    }
    section h2 {
	  padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    .about-info p,
    .token-info p,
    .distribution-info p {
      margin: 0.5rem 0;
    }
    .footer {
        width: 100%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer p {
        text-align: center;
    }